.article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.article-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.article-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.article-item img {
  max-width: 100%;
  height: auto;
}

.price {
  font-weight: bold;
}

/* Media Queries para Responsividad de ArticleListComponent */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .article-list {
    justify-content: center;
    gap: 15px;
  }

  .article-item {
    width: 150px; /* Ajusta el ancho para móviles */
    padding: 8px;
  }

  .article-item img {
    max-width: 90%;
  }

  .article-details h2 {
    font-size: 16px;
  }

  .price {
    font-size: 14px;
  }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  .article-list {
    gap: 18px;
  }

  .article-item {
    width: 180px; /* Ajusta el ancho para tablets */
    padding: 12px;
  }

  .article-details h2 {
    font-size: 18px;
  }

  .price {
    font-size: 16px;
  }
}
